.search{
    
    background: #2D303E;
    border: 1px solid #393C49;
    border-radius: 8px;
    padding: 14px;
    display: flex;
    align-items: center;
    
    img{
        margin-right: 8px;
    }

    input{
        color: #ABBBC2;
        background: #2D303E;
        border: none;
        outline: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        
    }
}

.select{
    background: #1F1D2B;
    border: 1px solid #393C49;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px 2px;
    width: 100px;

    select{
        background: #1F1D2B;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #FFFFFF;
        box-sizing: border-box;
        padding: 0 14px;
        outline: none;
    }
}

// settings options

.settings-options{
    display: flex;
    align-items: flex-start;
    padding: 24px;

    &:hover{
        background: rgba(234, 124, 105, 0.26);
    }

    &:hover .settings-icons{
        fill: #EA7C69;
    }
    
    &:hover .options-title{
        color: #EA7C69;

    }

    &-right{

        .options-title{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 130%;
            color: #FFFFFF;
        }

        .options-discreption{
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 140%;
            color: #ABBBC2;
        }
    }
}

.settings-icons{
    width: 14px;
    height: 14px;
    object-fit: cover;
    fill: #ABBBC2;
    display: block;
    margin-right: 9px;
}
