.header{
    // display: flex;
    // justify-content: space-between;
    // padding: 24px;

    .header-left{

        .header-name{
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 140%;
            color: #FFFFFF;
        }

        .header-date{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 140%;
            color: #E0E6E9;
        }
    }
}